.homepage .stats {
  text-align: center;
}

.homepage .stats .width-50 {
  width: 50%;
}

.homepage .stats .width-33 {
  width: 33%;
}

.inventory-message-home {
  margin-top: 20px !important; /* TODO @palcu: c'mon dude, fix this */
}

.masthead .site-search input {
  width: 150px !important; /* This is because we have too many elements in the main menu */
Î

/* For cookie consent */
.masthead .site-search input {
  width: 150px !important;
}
